{% extends "base.html" %}

{% block title %}
Display
{% endblock %}

{% block content %}
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td align="left" valign="top">
            Username: {{ name }}
        </td>

        <td align="right" valign="top">
            <form action="/search" name="query" method="GET">
                <input type="text" name="search" placeholder="Search Stories">
            </form>
        </td>
    </tr>

    <tr>
        <td align="left" valign="top">
            <form action="/logout" name="logout" method="POST">
                <button type="submit" name="logout">
                    Logout
                </button>
            </form>
        </td>

        <td align="right" valign="top">
            <form action="/browse" name="browse">
                <button type="submit" name="browse">
                    Browse Stories
                </button>
            </form>
        </td>
    </tr>

    <tr>
        <td></td>
        <td align="right" valign="top">
            <form action="/add" name="add">
                <button type="submit" name="addstory">
                    Add a Story
                </button>
            </form>
        </td>
    </tr>
</table>
<center>
    <h3>{{story_title}}</h3>

    {% for i in content %}
    <p>{{i}}</p>
    {% endfor %}

</center>
{% endblock %}
